svg {
  background-color: beige;
  }

.signal{
    stroke:coral;
    stroke-width: 0.3;
}
.text_label{
    font-size: 5px;
}

#fetch
{
    /*opacity: 0.1;*/
}
#decode
{
    /*opacity: 0.1;*/
}
#execute
{
    /*opacity: 0.1;*/
}
#memory
{
    /*opacity: 0.1;*/
}
#writeback
{
    /*opacity: 0.1;*/
}
#signal_write{
    /*stroke: red;*/
}
#signal_read{
    /*stroke: red;*/
}
#signal_forward_from_alu{
    /*stroke: red;*/
}
#signal_forward_from_dm{
    /*stroke: red;*/
}
#signal_forward_to_alu{
    /*stroke: red;*/
}
#signal_forward_to_dm{
    /*stroke: red;*/
}
#signal_m2r{
    /*stroke: red;*/
}
#signal_pcsrc{
    /*stroke: red;*/
}
#signal_writeback{
    /*stroke: red;*/
}
#signal_stall{
    /*stroke: red;*/
}

#t1 {
    display: inline;
}
#t2 {
    display: inline;
}
#t3 {
    display: inline;
}
#t4 {
    display: inline;
}
#t5 {
    display: inline;
}